* {
	margin:0;
	padding:0;
}

body {
	padding:20px;
}

div {
	padding:20px;
	border:1px solid #999;
	box-sizing: border-box;
	background-color: white;
}

.container {
	position: relative;
	margin:0 auto;
	background-color: #eeeeee;
}

.logo {
	float:left;
	width:200px;
	height:120px;
	position:;
}

.logo p {
	float:right;
}

.photo {
	float:left;
	width:80px;
	height:80px;
	background-color: #eeeeee;
}

.teammates {
	width:120px;
	height:100%;
	float:right;

}

.info {
	position:absolute;
	#float:left;
	#margin-left:220px;
	#margin-right:140px;
	left:240px;
	right:160px;
}

.item {
	width:80px;
	height:80px;
	background-color: #eeeeee;
	margin-bottom:20px;
}

.item:last-child {
	margin-bottom: 0;
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}