* {
	padding: 0;
	margin: 0;
	font-family: Lato, Helvetica Neue, Arial, PingFang SC, Hiragino Sans GB, STHeiti, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

header {
	position: relative;
	box-sizing: border-box;
	padding:10px 50px;
	width: 100%;
	min-width: 1280px;
	height:60px;
}

.logo {
	margin-top:4px;
}

.navbar {
	position: absolute;
	top:20px;
	right:50px;
}

.navbar li {
	float:left;
	padding:0 5px;
	list-style: none;
}

.navbar li a {
	padding:0 20px;
	color: #77787c;
	text-decoration: none;
	padding-bottom: 17px;
	display: inline-block;
	height: 20px;
}

.navbar li a:hover {
	color:#e65255;
	border-bottom:solid 4px #e65255;
	
}

.active {
	color:#e65255!important;
	border-bottom:solid 4px #e65255;
}

.section-1 {
	position: relative;
	width: 100%;
	min-width: 1280px;
}

.section-1 img {
	width:100%;
	height:690px;
}

.document {
	position: absolute;
	top:225px;
	left: 120px;
}

.section-1-title {
	font-size: 60px;
	margin-bottom: 10px;
	color: white;
}

.section-1-sub-title {
	font-size: 20px;
	color: white;
}

.section-1 button {
	cursor: pointer;
	margin-top:50px;
	font-size: 25px;
	color: white;
	background-color: #e65255;
	border: none;
	width: 332px;
	height: 65px;
}

.section-2 {
	min-width: 1280px;
	width: 100%;
	height: 250px;
}

.section-2-child {
	text-align: center;
	float: left;
	height: 250px;
	width: 25%;
	/*background-color: grey;*/
}

.section-2-child img {
	margin-top:60px;
}

.desc {
	color: #757575;
	font-size: 15px;
	margin:0 auto;
	margin-top:40px;
	height: 50px;
	border-right:solid 2px #ababab;
	padding:0 120px;
	width:180px;
}

.section-2-child:last-child .desc {
	border-right: none;
}

.section-3 {
	height: 362px;
	width: 100%;
	min-width: 1280px;
	background-color: #eeeced;
	text-align: center;
}

.section-3 img {
	margin-top: 100px;
}

.section-3 p {
	margin-top: 30px;
	font-size: 60px;
	color: #a2a2a2;
}